<!-- <app-tool-bar></app-tool-bar> -->

<div fxFlex fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column">
  <!-- <app-tool-bar fxFlex="100%"></app-tool-bar> -->
  <h1 fxFlex.gt-sm="100%" fxLayoutAlign="center center">{{ 'Personal Information' }}</h1>
  <div fxFlex.gt-sm="50%">
    <mat-card>
      <mat-card-content>
        <app-customer-data-form></app-customer-data-form>
      </mat-card-content>
    </mat-card>

    <button mat-stroked-button class="btnContinue">{{ 'Continue' }}</button>
  </div>
</div>